html, body {
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  width: 100%;

  .header{
    height: 4rem;
    background-color: #4CAF50;
    display: flex;
    flex-direction: row;

    h1{
      width: 10rem;
    }

    .menu-bar{
      flex-grow: 1;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      a{
        padding: 1rem 1rem;
      }
    }
  }

  .product-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    border: black solid 1px;
    padding: 1rem 1rem;

    .left-product-column{
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: stretch;

      .img-container{
        display: flex;
        justify-content: center;
      }

      .base-data-container{
        display: flex;
        flex-direction: column;
      }
    }

    .right-product-column{
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      .important-data-container{
        display: flex;
        flex-direction: column;
      }

      .description{
        background-color: rgba(76, 175, 80, 0.43);
        padding: 20px;
      }
    }
  }
  .footer{
    height: 4rem;
    background-color: #4CAF50;
  }
}